@page "/pokemon-details/{id:int}"
@using PokeMin.Models


<h3>Pokémon Details</h3>

@if (details == null)
{
    <p>Henter detaljer...</p>
}
else
{
    <p><strong>Navn:</strong> @details.Name</p>
    <p><strong>Højde:</strong> @details.Height</p>
    <p><strong>Vægt:</strong> @details.Weight</p>
    <img src="@details.Sprites.Front_Default" />

    <p><strong>Type(r):</strong></p>
    <ul>
        @foreach (var t in details.Types)
        {
            <li>@t.Type.Name</li>
        }
    </ul>
}

@code {
    private PokemonDetailsData details;
    
    [Parameter]
    public int id { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var http = new HttpClient();
        details = await http.GetFromJsonAsync<PokemonDetailsData>(
            $"https://pokeapi.co/api/v2/pokemon/{id}");

    }

}