@page "/pokemon-details"
@inject APIService API

<h3>Pokémon Details</h3>

@if (details == null)
{
    <p>Henter detaljer...</p>
}
else
{
    <p><strong>Navn:</strong> @details.Name</p>
    <p><strong>Højde:</strong> @details.Height</p>
    <p><strong>Vægt:</strong> @details.Weight</p>
    <img src="@details.ImageUrl" />

    <p><strong>Type(r):</strong></p>
    <ul>
        @foreach (var t in details.Types)
        {
            <li>@t</li>
        }
    </ul>
}

@code {
    private PokemonCard? details;

    [Parameter]
    [SupplyParameterFromQuery]
    public string IdOrName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        details = await API.GetPokemonDetailAsync(IdOrName);
    }

}